body {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    padding-top: 5rem;
    text-align: center;
    background-image: url("images/bg-pattern-top-desktop.svg"),
    url("/images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: max(50%, 400px), 50%;
}

h1 {
    font-size: var(--fs-900);
    color: var(--clr-primary-700);
    max-width: 12ch;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}


.subheading {
    font-size: var(--fs-500);
    margin-top: 1em;
}


main {
    display: grid;
    gap: 3rem 2rem;
}
