.reviews {
    font-size: var(--fs-400);
    margin: 15px;

}

.review {
    background: var(--clr-neutral-200);
    font-weight: 700;
    color: var(--clr-primary-700); 
    padding: .75rem 2rem;
    border-radius: var(--br);
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
}

.review::before {
    content: '';
    width: 85px;
    display: block;
    margin: 0 auto;
    height: 1rem;
    margin-bottom: .5rem;
    background-image: url(/images/icon-star.svg);
    background-repeat: space;
}